_dev/pug/index.pug
extends ./components/_layout.pug

block vars
	- var pageTitle = 'Время Арктики'
	- var lang = 'ru'

block content_block
	transition(name="fade"): section.start-scene(v-if="startScreenShow")
		.water-block
		.content-block
			img.bg-left(src="./img/start-img-left.png", alt="")
			img.bg-right(src="./img/start-img-right.png", alt="")
			header
				.left
					.logo-wrap: a(href="#", target="_blank"): img.logo-1(src="./img/logo-1.svg", alt="")
				.right
					.logo-wrap: a(href="#", target="_blank"): img.logo-2(src="./img/logo-2.svg", alt="")
					.logo-wrap: a(href="#", target="_blank"): img.logo-3(src="./img/logo-3.svg", alt="")
			.text-wrap
				h1 Едем на Север
				p Север — это не только бескрайние льды, ветер и низкие температуры, но еще и пуночки, морянки, нарвалы, казарки, финвалы. Если вы понятия не имеете, что всё это значит, то одевайтесь теплее, мы отправляемся в экспедицию за Северный полярный круг!
				.btn-wrap: button.btn(@click="start") Выдвигаюсь!
			+social
		.loader-wrap
			.img-wrap: img(src="./img/termometr.svg", alt="")
			p Загружаем холода

	section.map-scene(v-if="!showEnd")
		#map-container
			.map-wrapper
				.water-block
				.map
				.content
					+animalTulen
					+animalKazarka
					+animalVolk
					+animalOlen
					+animalBeluga
					+animalPunochka
					+animalNarval
					+animalPlankton
					+animalMedved
					+animalRiba

		.info-tablo
			.poinst-wrap
				.title очков
				span {{ completedTasks * 10 }}
			.task-wrap
				.title выполнено заданий
				span {{ completedTasks }} / {{ animals.length }}
				button(@click="showRules = true"): img(src="./img/answer.svg", alt="")
			
			.animals-wrap
				.item(v-for="animal in infoAnimals" :class="{done: animal.stars === animal.maxStars, current: currentAnimal.label === animal.label && isStart}")
					img.img(:src="animal.imgSrc", alt="")
					.notify-wrap(v-if="currentAnimal.label === animal.label && isStart" ref="animalNotify")
						img.bg(src="./img/notify/notify.png", alt="")
						img.animal(:src="animal.imgNotify", alt="")
						.text-wrap
							.name {{ currentAnimal.name }}
							p {{ currentAnimal.infoNotify }}
					
					.timer-indicator(v-if="currentAnimal.label === animal.label && isStart")

			.compas-wrap
				img(:src="currentAnimal.radar", alt="")


		button.sound(@click="muted = !muted")
			img(v-show="!muted" src="./img/sound_on.png", alt="")
			img(v-show="muted" src="./img/sound_off.png", alt="")


	transition(name="fade"): .popup-win-lose.win(v-if="showPopupWin")
		.star-wrap
			img(v-for="star in currentAnimalStars" src="./img/star.png", alt="")
		.title(v-if="currentAnimalMaxStars") {{ currentAnimal.win.title }}

		.text-wrap
			img(src="./img/result-message.png", alt="")
			p(v-if="currentAnimalMaxStars") {{ currentAnimal.win.achivmentText }}
			p(v-else) {{ currentAnimal.win.text }}
		.btn-wrap: button.btn(@click="nextAnimal('win')") Дальше

	transition(name="fade"): .popup-win-lose.lose(v-if="showPopupLose")
		.text-wrap
			img(src="./img/result-message.png", alt="")
			p {{ currentAnimal.lose }}

		.btn-wrap: button.btn(@click="nextAnimal('lose')") Дальше


	transition(name="fade"): section.rules-scene(v-if="showRules"): .wrapper
		transition(name="fade"): img.rules-1(v-if="stepRules === 1" src="./img/rules-1.png", alt="")
		transition(name="fade"): img.rules-2(v-if="stepRules === 2" src="./img/radar/left-top.svg", alt="")

		.header-wrap
			.title Правила игры
			p {{ stepRules }}/3
		.content-wrap
			img.rules-3(v-if="stepRules === 3" src="./img/rules-3.png", alt="")
			.notify-wrap
				transition(name="fade"): img(src="./img/result-message.png", alt="")
				
				p(v-if="stepRules === 1") следи за панелью животных слева. если у кого-то появилась <span>оранжевая</span> рамка, значит ему нужна помощь.
				p(v-if="stepRules === 2") Отыщи животное раньше, чем его иконка станет оранжевой полностью. найти его на карте поможет радар.
				p(v-if="stepRules === 3") Отыскав животное, выполни его задание. <br> Используй мышку
		
		.btn-wrap: button.btn(@click="nextRules")
			span(v-if="stepRules != 3") Дальше
			span(v-else) Играть


	transition(name="fade"): section.end-scene(v-if="showEnd")
		.water-block
		.content-block
			img.bg-left(src="./img/start-img-left.png", alt="")
			img.bg-right(src="./img/start-img-right.png", alt="")
			header
				.left
					.logo-wrap: a(href="#", target="_blank"): img.logo-1(src="./img/logo-1.svg", alt="")
				.right
					.logo-wrap: a(href="#", target="_blank"): img.logo-2(src="./img/logo-2.svg", alt="")
					.logo-wrap: a(href="#", target="_blank"): img.logo-3(src="./img/logo-3.svg", alt="")
			.text-wrapper
				.star-wrap
					img(v-for="i in resultText[resultTextCurrent].stars" src="./img/star.png", alt="")
				.title {{ resultText[resultTextCurrent].title }}
				
				.notify-wrap
					img(src="./img/message-big.png", alt="")
					.txt-wrap
						p(v-html="resultText[resultTextCurrent].text")

				.btn-wrap: a.btn.btn--big(href="./")  ПРОЙТИ ЕЩЕ РАЗ!
			
			.int-text
				img(src="./img/int-msg.png", alt="")
				p Спасибо за помощь в исследованиях! <br> Район добычи Приразломного месторождения окружен уникальной флорой и фауной. Поэтому «Газпром нефть шельф» уделяет большое внимание ее изучению. Например, компания реализует масштабную программу по наблюдению за атлантическими моржами, обитающими на ближайших к платформе островах Баренцева моря. 

				.btn-wrap
					a.btn.btn--small(href="https://shelf.gazprom-neft.ru/development/ecology/" target="_blank") Узнать больше

			+social

	transition(name="integration"): .integration-popup(v-if="showIntegration")
		img(src="./img/int-msg.png", alt="")
		p(v-html="currentAnimal.integration")
		.btn-wrap
			button.btn.btn--small(@click="showPopupWin = true, showIntegration = false") Дальше!
			//- a.btn.btn--small(href="https://shelf.gazprom-neft.ru/development/ecology/" target="_blank") Узнать больше

	//- transition(name="integration"): .integration-popup(v-if="showEnd")
		img(src="./img/int-msg.png", alt="")
		p Спасибо за помощь в исследованиях! <br> Район добычи Приразломного месторождения окружен уникальной флорой и фауной. Поэтому «Газпром нефть шельф» уделяет большое внимание ее изучению. Например, компания реализует масштабную программу по наблюдению за атлантическими моржами, обитающими на ближайших к платформе островах Баренцева моря. 

		.btn-wrap
			a.btn.btn--small(href="https://shelf.gazprom-neft.ru/development/ecology/" target="_blank") Узнать больше

index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Едем на Север</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="apple-touch-icon" sizes="180x180" href="./img/favicon/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="./img/favicon/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="./img/favicon/favicon-16x16.png"/>
    <link rel="manifest" href="./img/favicon/site.webmanifest"/>
    <link rel="mask-icon" href="./img/favicon/safari-pinned-tab.svg" color="#666F86"/>
    <link rel="shortcut icon" href="./img/favicon/favicon.ico"/>
    <meta name="msapplication-TileColor" content="#666F86"/>
    <meta name="msapplication-config" content="./img/favicon/browserconfig.xml"/>
    <meta name="theme-color" content="#666F86"/>
    <link rel="stylesheet" href="./css/style.min.css?0023"/>


 <meta name="title" content="Едем на Север">
    <meta name="description" content="Север — это не только бескрайние льды, ветер и низкие температуры, но еще и пуночки, морянки, нарвалы, казарки, финвалы. Если вы понятия не имеете, что всё это значит, то одевайтесь теплее, мы отправляемся в экспедицию за Северный полярный круг!">
    <meta property="og:title" content="Едем на Север">
    <meta property="og:description" content="Север — это не только бескрайние льды, ветер и низкие температуры, но еще и пуночки, морянки, нарвалы, казарки, финвалы. Если вы понятия не имеете, что всё это значит, то одевайтесь теплее, мы отправляемся в экспедицию за Северный полярный круг!">
    <meta property="og:image" content="./share.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="./share.png">

  </head>
  <body class="hidden">
    <main id="app" :class="{notfix: showEnd === true}">
      <transition name="fade">
        <section class="start-scene" v-if="startScreenShow">
          <div class="water-block"></div>
          <div class="content-block"><img class="bg-left" src="./img/start-img-left.png" alt=""><img class="bg-right" src="./img/start-img-right.png" alt="">
            <header>
              <div class="left">
                <div class="logo-wrap"><a href="https://knife.media/" target="_blank"><img class="logo-1" src="./img/logo-1.svg" alt=""></a></div>
              </div>
              <div class="right">
                <div class="logo-wrap"><a href="https://shelf.gazprom-neft.ru" @click="sendEventFromVue('Special actions', 'Header click', 'gazprom-neft.ru')" target="_blank"><img class="logo-2" src="./img/logoblock.svg" alt=""></a></div>
              </div>
            </header>
            <div class="text-wrap">
              <h1>Едем на Север</h1>
              <p>Север — это не только бескрайние льды, ветер и низкие температуры, но еще и пуночки, морянки, нарвалы, казарки, финвалы. Если вы понятия не имеете, что всё это значит, то одевайтесь теплее, мы отправляемся в экспедицию за Северный полярный круг!</p>
              <div class="btn-wrap">
                <button class="btn" @click="start">Выдвигаюсь!</button>
              </div>
            </div>
            <div class="social-wrap">
              <a v-for="soc in social" @click.prevent="socialShare(soc), sendEventFromVue('Special actions', 'Game share', soc.label)" :href="soc.link" target="_blank"><img :src="soc.img" alt=""/></a>
            </div>
          </div>
          </div>
          <div class="loader-wrap">
            <div class="img-wrap"><img src="./img/termometr.svg" alt=""></div>
            <p>Загружаем холода</p>
          </div>
        </section>
      </transition>
      <section class="map-scene" v-if="!showEnd">

          <div class="time-clock"></div>
        <div id="map-container">
          <div class="map-wrapper">
          
            <div class="water-block"></div>
            <div class="map"></div>
            <div class="content">
              <div class="animal animal--tulen" v-if="currentAnimal.label === 'tulen'">
                <div class="item tulen-item" @click="animalAnimation('tulen')"><img class="ice" src="./img/animals/tulen/ice.png" alt=""/><img class="tulen" src="./img/animals/tulen/tulen.png" alt=""/>
                  <div class="notify-hover">{{ currentAnimal.infoHover }}</div>
                  <div class="notify-wrap">
                    <p>{{ currentAnimal.animalNotify }}</p><img src="./img/notify/notify.png" alt=""/>
                  </div>
                </div>
                <div class="item helicopter-item"><img class="helicopter" src="./img/animals/tulen/helicopter.png" alt=""/><img class="rope" src="./img/animals/tulen/rope.png" alt=""/></div>
              </div>
              <div class="animal animal--kazarka" v-if="currentAnimal.label === 'kazarka'">
                <div class="item"><img class="pointer" @click="animalAnimation('kazarka')" src="./img/animals/kazarka/pointer.png" alt=""/><img class="kazarka-1" src="./img/animals/kazarka/1.png" alt=""/><img class="kazarka-2" src="./img/animals/kazarka/2.png" alt=""/>
                  <div class="notify-hover">{{ currentAnimal.infoHover }}</div>
                  <div class="notify-wrap">
                    <p>{{ currentAnimal.animalNotify }}</p><img src="./img/notify/notify.png" alt=""/>
                  </div>
                </div>
              </div>
              <div class="animal animal--volk" v-if="currentAnimal.label === 'volk'">
                <div class="item"><img class="volk" @click="animalAnimation('volk')" src="./img/animals/volk/volk.png" alt=""/><img class="volcica" src="./img/animals/volk/volcica.png" alt=""/>
                  <div class="notify-hover">{{ currentAnimal.infoHover }}</div>
                  <div class="notify-wrap">
                    <p>{{ currentAnimal.animalNotify }}</p><img src="./img/notify/notify.png" alt=""/>
                  </div>
                </div>
              </div>
              <div class="animal animal--olen" v-if="currentAnimal.label === 'olen'">
                <div class="item"><img class="truba" src="./img/animals/olen/truba.png" alt=""/>
                  <div class="oleni-wrap"><img class="olen-1" src="./img/animals/olen/olen-1.png" alt=""/>
                    <div class="pointer" @click="animalAnimation('olen')"><img class="olen-2" src="./img/animals/olen/olen-2.png" alt=""/><img class="olen-3" src="./img/animals/olen/olen-1.png" alt=""/><img class="olen-4" src="./img/animals/olen/olen-2.png" alt=""/></div>
                  </div>
                  <div class="notify-hover">{{ currentAnimal.infoHover }}</div>
                  <div class="notify-wrap">
                    <p>{{ currentAnimal.animalNotify }}</p><img src="./img/notify/notify.png" alt=""/>
                  </div>
                </div>
              </div>
              <div class="animal animal--beluga" v-if="currentAnimal.label === 'beluga'">
                <div class="item">
                  <div class="pointer" @click="animalAnimation('beluga')"><img class="top" src="./img/animals/beluga/top.png" alt=""/><img class="left" src="./img/animals/beluga/left.png" alt=""/><img class="right" src="./img/animals/beluga/right.png" alt=""/><img class="beluga" src="./img/animals/beluga/beluga.png" alt=""/></div>
                  <div class="notify-hover">{{ currentAnimal.infoHover }}</div>
                  <div class="notify-wrap">
                    <p>{{ currentAnimal.animalNotify }}</p><img src="./img/notify/notify.png" alt=""/>
                  </div>
                </div>
              </div>
              <div class="animal animal--punochka" v-if="currentAnimal.label === 'punochka'">
                <div class="item"><img class="punochka" @click="animalAnimation('punochka')" src="./img/animals/punochka/punochka.png" alt=""/><img class="kormushka" src="./img/animals/punochka/kormushka.png" alt=""/>
                  <div class="notify-hover">{{ currentAnimal.infoHover }}</div>
                  <div class="notify-wrap">
                    <p>{{ currentAnimal.animalNotify }}</p><img src="./img/notify/notify.png" alt=""/>
                  </div>
                </div>
              </div>
              <div class="animal animal--narval" v-if="currentAnimal.label === 'narval'">
                <div class="item">
                  <div class="treshina"><img class="treshina-1" src="./img/animals/narval/treshina.png" alt=""/><img class="treshina-2" src="./img/animals/narval/treshina.png" alt=""/><img class="treshina-3" src="./img/animals/narval/treshina.png" alt=""/></div><img class="narval" @click="animalAnimation('narval')" src="./img/animals/narval/narval.png" alt=""/>
                  <div class="notify-hover">{{ currentAnimal.infoHover }}</div>
                  <div class="notify-wrap">
                    <p>{{ currentAnimal.animalNotify }}</p><img src="./img/notify/notify.png" alt=""/>
                  </div>
                </div>
              </div>
              <div class="animal animal--plankton" v-if="currentAnimal.label === 'plankton'">
                <div class="item"><img class="plankton" @click="animalAnimation('plankton')" src="./img/animals/plankton/plankton.png" alt=""/><img class="copter" src="./img/animals/plankton/copter.png" alt=""/>
                  <div class="notify-hover">{{ currentAnimal.infoHover }}</div>
                  <div class="notify-wrap">
                    <p>{{ currentAnimal.animalNotify }}</p><img src="./img/notify/notify.png" alt=""/>
                  </div>
                </div>
              </div>
              <div class="animal animal--medved" v-if="currentAnimal.label === 'medved'">
                <div class="item"><img class="copter" src="./img/animals/medved/copter.png" alt=""/><img class="medved" @click="animalAnimation('medved')" src="./img/animals/medved/medved.png" alt=""/>
                  <div class="notify-hover">{{ currentAnimal.infoHover }}</div>
                  <div class="notify-wrap">
                    <p>{{ currentAnimal.animalNotify }}</p><img src="./img/notify/notify.png" alt=""/>
                  </div>
                </div>
              </div>
              <div class="animal animal--riba" v-if="currentAnimal.label === 'riba'">
                <div class="item"><img class="vedro" @click="animalAnimation('riba')" src="./img/animals/riba/vedro.png" alt=""/><img class="riba" src="./img/animals/riba/riba.png" alt=""/>
                  <div class="notify-hover">{{ currentAnimal.infoHover }}</div>
                  <div class="notify-wrap">
                    <p>{{ currentAnimal.animalNotify }}</p><img src="./img/notify/notify.png" alt=""/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="info-tablo">
          <div class="poinst-wrap">
            <div class="title">очков</div><span>{{ completedTasks * 10 }}</span>
          </div>
          <div class="task-wrap">
            <div class="title">выполнено заданий</div><span>{{ completedTasks }} / {{ animals.length }}</span>
            <button @click="showRules = true"><img src="./img/answer.svg" alt=""></button>
          </div>
          <div class="animals-wrap">
            <div class="item" v-for="animal in infoAnimals" :class="{done: animal.stars === animal.maxStars, current: currentAnimal.label === animal.label &amp;&amp; isStart}"><img class="img" :src="animal.imgSrc" alt="">
              <div class="notify-wrap" v-if="currentAnimal.label === animal.label &amp;&amp; isStart" ref="animalNotify"><img class="bg" src="./img/notify/notify.png" alt=""><img class="animal" :src="animal.imgNotify" alt="">
                <div class="text-wrap">
                  <div class="name">{{ currentAnimal.name }}</div>
                  <p>{{ currentAnimal.infoNotify }}</p>
                </div>
              </div>
              <div class="timer-indicator" v-if="currentAnimal.label === animal.label &amp;&amp; isStart"></div>
            </div>
          </div>
          <div class="compas-wrap"><img :src="currentAnimal.radar" alt=""></div>
        </div>
        <button class="sound" @click="muted = !muted"><img v-show="!muted" src="./img/sound_on.png" alt=""><img v-show="muted" src="./img/sound_off.png" alt=""></button>
      </section>
      <transition name="fade">
        <div class="popup-win-lose win" v-if="showPopupWin">
          <div class="star-wrap"><img v-for="star in currentAnimalStars" src="./img/star.png" alt=""></div>
          <div class="title" v-if="currentAnimalMaxStars">{{ currentAnimal.win.title }}</div>
          <div class="title" v-else>УРА!</div>
          <div class="text-wrap"><img src="./img/result-message.png" alt="">
            <p v-if="currentAnimalMaxStars">{{ currentAnimal.win.achivmentText }}</p>
            <p v-else>{{ currentAnimal.win.text }}</p>
          </div>
          <div class="btn-wrap">
            <button class="btn" @click="nextAnimal('win')">Дальше</button>
          </div>
        </div>
      </transition>
      <transition name="fade">
        <div class="popup-win-lose lose" v-if="showPopupLose">
          <div class="text-wrap"><img src="./img/result-message.png" alt="">
            <p>{{ currentAnimal.lose }}</p>
          </div>
          <div class="btn-wrap">
            <button class="btn" @click="nextAnimal('lose')">Хорошо</button>
          </div>
        </div>
      </transition>
      <transition name="fade">
        <section class="rules-scene" v-if="showRules">
          <div class="wrapper">
            <transition name="fade"><img class="rules-1" v-if="stepRules === 1" src="./img/rules-1.png" alt=""></transition>
            <transition name="fade"><img class="rules-2" v-if="stepRules === 2" src="./img/radar/left-top.svg" alt=""></transition>
            <div class="header-wrap">
              <div class="title">Правила игры</div>
              <p>{{ stepRules }}/3</p>
            </div>
            <div class="content-wrap"><img class="rules-3" v-if="stepRules === 3" src="./img/rules-3.png" alt="">
              <div class="notify-hover">{{ currentAnimal.infoHover }}</div>
              <div class="notify-wrap">
                <transition name="fade"><img src="./img/result-message.png" alt=""></transition>
                <p v-if="stepRules === 1">Следите за панелью животных слева. Если у кого-то появилась <span>оранжевая</span> рамка, значит ему нужна помощь.</p>
                <p v-if="stepRules === 2">Отыщите животное раньше, чем его иконка станет полностью оранжевой. Найти его на карте поможет радар.</p>
                <p v-if="stepRules === 3">Когда найдете животное, выполните задание, нажав на него.</p>
              </div>
            </div>
            <div class="btn-wrap">
              <button class="btn" @click="nextRules"><span v-if="stepRules != 3">Дальше</span><span v-else>Играть</span></button>
            </div>
          </div>
        </section>
      </transition>
      <transition name="fade">
        <section class="end-scene" v-if="showEnd">
          
          <div class="water-block"></div>
          <div class="content-block"><img src="./img/prirazlomnaya.png" alt="" class="end-prirazlomnaya"><img class="bg-left" src="./img/start-img-left.png" alt=""><img class="bg-right" src="./img/start-img-right.png" alt="">
            <header>
              <div class="left">
                <div class="logo-wrap"><a href="https://knife.media/" target="_blank"><img class="logo-1" src="./img/logo-1.svg" alt=""></a></div>
              </div>
              <div class="right">
                 <div class="logo-wrap"><a href="https://shelf.gazprom-neft.ru" target="_blank"><img class="logo-2" src="./img/logoblock.svg" alt=""></a></div>
              </div>
            </header>
            <div class="text-wrapper">
              <div class="star-wrap"><img v-for="i in resultText[resultTextCurrent].stars" src="./img/star.png" alt=""></div>
              <div class="title">{{ resultText[resultTextCurrent].title }}</div>
              <div class="notify-hover">{{ currentAnimal.infoHover }}</div>
              <div class="notify-wrap"><img src="./img/message-big.png" alt="">
                <div class="txt-wrap">
                  <p v-html="resultText[resultTextCurrent].text"></p>
                </div>
              </div>
              <div class="btn-wrap"><a class="btn btn--big" href="./">Пройти еще раз!</a></div>
            </div>
            <div class="int-text"><img src="./img/bginterg.png" alt="">
              <p>Спасибо за помощь в исследованиях! <br> Район добычи Приразломного месторождения окружен уникальной флорой и фауной. Поэтому «Газпром нефть шельф» уделяет большое внимание ее изучению. Например, компания реализует масштабную программу по наблюдению за атлантическими моржами, обитающими на ближайших к платформе островах Баренцева моря. </p>
              <div class="btn-wrap"><a class="btn btn--small" href="https://shelf.gazprom-neft.ru/development/ecology/" target="_blank">Узнать больше</a></div>
            </div>
          <div class="social-wrap">
              <a v-for="soc in social" @click.prevent="socialShare(soc), sendEventFromVue('Special actions', 'Game share', soc.label)" :href="soc.link" target="_blank"><img :src="soc.img" alt=""/></a>
              </div>
          </div>
          </div>
        </section>
      </transition>
      <transition name="integration">
        <div class="integration-popup" v-if="showIntegration"><img src="./img/int-msg.png" alt="">
          <p v-html="currentAnimal.integration"></p>
          <div class="btn-wrap">
             <button class="btn btn--small" @click="win(), showIntegration = false">Дальше!</button>
          </div>
        </div>
      </transition>
    
    </main>
    <div class="audio-wrap">
      <audio class="beluga" src="./audio/beluga.mp3"></audio>
      <audio class="tulen" src="./audio/tulen.mp3"></audio>
      <audio class="kazarka" src="./audio/kazarka.mp3"></audio>
      <audio class="volk" src="./audio/volk.mp3"></audio>
      <audio class="olen" src="./audio/olen.mp3"></audio>
      <audio class="punochka" src="./audio/punochka.mp3"></audio>
      <audio class="narval" src="./audio/narval.mp3"></audio>
      <audio class="plankton" src="./audio/plankton.mp3"></audio>
      <audio class="medved" src="./audio/medved.mp3"></audio>
      <audio class="riba" src="./audio/riba.mp3"></audio>
      <audio class="click" src="./audio/click.mp3"></audio>
      <audio class="achievement" src="./audio/achievement.mp3"></audio>
      <audio class="radar" src="./audio/radar.mp3"></audio>
      <audio class="successfull" src="./audio/successfull.mp3"></audio>
      <audio class="lose" src="./audio/lose.mp3"></audio>
      <audio class="soundtrack" src="./audio/soundtrack.mp3" loop></audio>
    </div>
    <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KZ7MHM');
</script>
  <script type="text/javascript">
    const appHeight = () => {
    const doc = document.documentElement
    doc.style.setProperty('--app-height', `${window.innerHeight}px`)
}
window.addEventListener('resize', appHeight)
appHeight()
  </script>
    <script src="./js/scripts.min.js"></script>
  </body>
</html>
